@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #ececec;
  --blanco: #393939;
  --background: #1a1a1a;
  --backgroundAl: #1a1a1ae6;
  --borders: #ffffff40;
  --shadows: #ffffff20;
  --primary: #00ff7e;
  /* Tipografía */
  --tipo-principal: "Montserrat", Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #393939;
    --background: #1a1a1a;
    --backgroundAl: #1a1a1ae6;
    --borders: #ffffff40;
    --shadows: #ffffff20;
  }
}
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  cursor: none;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--primary);
  color: var(--blanco);
}
::selection {
  background-color: var(--primary);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background: var(--background);
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

[data-anim] {
  opacity: 0;
  transition: all 0.5s ease-out;
}

[data-anim=child] {
  opacity: 0;
  transform: translateY(50px);
}

[data-anim=show-in] {
  opacity: 0;
  transform: translateY(50px);
}

[data-anim=show-out] {
  opacity: 0;
  transform: translateY(-25px);
}

[data-anim=show-left] {
  opacity: 0;
  transform: translateX(50px);
}

[data-anim=show-right] {
  opacity: 0;
  transform: translateY(-50px);
}

[data-anim=fade-in] {
  opacity: 0;
}

.inView {
  opacity: 1;
  transform: translateY(0);
}

@keyframes neon-blink {
  41% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0.4;
  }
  44% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  46% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Brutalworld";
  src: url("/public/font/Brutalworld.woff2") format("woff2"), url("/public/font/Brutalworld.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  color: #fafafa;
  cursor: none;
}

.mouse {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1882352941);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 3;
  pointer-events: none;
  left: -10px;
  mix-blend-mode: difference;
  top: -10px;
  filter: drop-shadow(0 0 15px rgba(176, 255, 215, 0.7764705882));
  transition: width 0.3s ease-out, height 0.3s ease-out, left 0.3s ease-out, top 0.3s ease-out, background 0.3s ease-out;
}
.mouse.active {
  width: 50px;
  height: 50px;
  left: -25px;
  top: -25px;
  background: var(--primary);
}
@media (max-width: 767px) {
  .mouse {
    display: none;
  }
}

.Header {
  width: 100%;
  padding: 30px 65px;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.Header-logo {
  font-family: "Brutalworld";
  font-size: 24px;
}
@media (max-width: 767px) {
  .Header {
    padding: 20px 20px;
  }
}

.Button {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.Button-toggler {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  top: 0;
  left: 0;
}
.Button-line {
  width: 40px;
  height: 4px;
  transition: transform 0.3s;
}
.Button.isActive .Button-line--one {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.Button.isActive .Button-line--two {
  transform: rotate(45deg) translate(-4px, -4px);
}

.Content {
  height: 100vh;
}
.Content-section {
  width: 100%;
}
.Content-title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 300;
  word-break: auto-phrase;
}
@media (max-width: 767px) {
  .Content-section {
    height: auto;
  }
  .Content-title {
    font-size: 30px;
  }
}

.Hero {
  position: relative;
  height: 100%;
  color: var(--negro);
}
.Hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(50% - 50vh);
  left: 0%;
  background-image: url("/public/assets/humo.webp");
  background-repeat: no-repeat;
  background-position: center center;
}
.Hero-content {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
.Hero-logo {
  position: relative;
  font-size: 75px;
  font-family: "Brutalworld";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.Hero-logo::before {
  content: "juano";
  text-transform: uppercase;
  position: absolute;
  top: 0;
  transform: translate(-4px, -7px);
  filter: drop-shadow(0 0 3px var(--primary));
  color: transparent;
  -webkit-text-stroke: 2px var(--primary);
  animation: neon-blink 5s infinite alternate;
}
.Hero-logo::after {
  content: "juano";
  text-transform: uppercase;
  position: absolute;
  top: 0;
  transform: translate(-4px, -7px);
  filter: blur(4px);
  color: transparent;
  -webkit-text-stroke: 1px var(--primary);
  animation: neon-blink 5s infinite alternate;
}
.Hero-subtle {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat";
  letter-spacing: 5px;
  font-weight: 400;
}
.Hero-description {
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  word-break: keep-all;
  color: var(--text);
}
.Hero-background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Hero-background::before {
  content: "";
  background: radial-gradient(closest-side, var(--backgroundAl), var(--background) 75%);
  z-index: 1;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.Hero-scrollIcon {
  bottom: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Hero-scrollPlh {
  font-size: 14px;
  font-weight: 500;
}
.Hero-mouse {
  width: 25px;
}
@media (max-width: 767px) {
  .Hero {
    padding: 0px 20px;
  }
  .Hero-content {
    transform: translateY(-40px);
  }
  .Hero-background video {
    height: 100%;
  }
  .Hero::before {
    opacity: 0.7;
  }
  .Hero-scrollIcon {
    display: none;
  }
}

.Social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 20px;
}
.Social-item {
  padding: 10px;
  border: solid 1px #00ff7e;
  border-radius: 10px;
  transition: all 0.25s;
}
.Social-icon {
  width: 25px;
  height: 25px;
}
.Social-link {
  cursor: none;
}

.Experience {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 20px;
}
.Experience-content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1500px;
}
.Experience-texts {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Experience-description {
  font-size: 18px;
  max-width: 600px;
  word-break: auto-phrase;
  color: var(--text);
}
.Experience-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  border: solid 1px var(--borders);
  background: linear-gradient(149deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 17%, rgba(255, 255, 255, 0.04) 76%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 7px var(--shadows);
}
.Experience-tlTitle {
  font-size: 30px;
  text-transform: uppercase;
}
.Experience-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.Experience-cv {
  width: 100%;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px var(--borders);
  background: linear-gradient(50deg, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.04) 17%, rgba(255, 255, 255, 0.04) 76%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 7px var(--shadows);
}
.Experience-cvTitle {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.Experience-cvText {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  text-transform: capitalize;
  color: var(--text);
}
.Experience-icon {
  height: 50px;
  opacity: 0.4;
  transition: all 0.25s;
}
.Experience-icon--html:hover {
  opacity: 1;
  color: #e44d26;
  filter: drop-shadow(0 0 5px #e44d26);
}
.Experience-icon--css:hover {
  opacity: 1;
  color: #264de4;
  filter: drop-shadow(0 0 5px #264de4);
}
.Experience-icon--js:hover {
  opacity: 1;
  color: #f0db4f;
  filter: drop-shadow(0 0 5px #f0db4f);
}
.Experience-icon--node:hover {
  opacity: 1;
  color: #3c873a;
  filter: drop-shadow(0 0 5px #3c873a);
}
.Experience-icon--react:hover {
  opacity: 1;
  color: #61dafb;
  filter: drop-shadow(0 0 5px #61dafb);
}
.Experience-icon--sass:hover {
  opacity: 1;
  color: #c69;
  filter: drop-shadow(0 0 5px #c69);
}
.Experience-icon--wordpress:hover {
  opacity: 1;
  color: #21759b;
  filter: drop-shadow(0 0 5px #21759b);
}
@media (max-width: 1024px) {
  .Experience-content {
    grid-template-columns: 1fr;
    max-width: 1800px;
  }
  .Experience-texts {
    padding: 0;
    gap: 10px;
    margin-bottom: 10px;
  }
  .Experience-title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .Experience {
    align-items: flex-start;
    padding: 50px 10px;
  }
  .Experience-content {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .Experience-texts {
    padding: 0;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.Projects {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 150px 20px;
}
.Projects-content {
  position: relative;
  gap: 20px;
  width: 100%;
  max-width: 1500px;
}
.Projects-control {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 0;
  top: 1%;
}
.Projects-slider {
  margin: 85px 0 0 0;
}
.Projects-button {
  width: 50px;
  height: 40px;
  padding: 10px 20px;
  border: solid 1px var(--primary);
  border-radius: 10px;
  transition: all 0.25s;
}
.Projects-button:hover {
  filter: drop-shadow(0 0 5px var(--primary));
}
@media (max-width: 767px) {
  .Projects {
    padding: 10px 10px;
  }
  .Projects-control {
    margin-top: 25px;
    position: static;
  }
  .Projects-slider {
    margin: 30px 0 0 0;
  }
  .Projects-title {
    font-size: 27px;
  }
}

.Slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Slider-wrapper {
  width: 300%;
  display: grid;
  gap: 60px;
  transition: transform 0.5s ease-in-out;
}
.Slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.Slider-item--reverse {
  flex-direction: column-reverse;
}
.Slider-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  word-break: keep-all;
  margin: 0 0 15px 0;
}
.Slider-description {
  font-size: 18px;
  word-break: keep-all;
  color: var(--text);
}
.Slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .Slider-wrapper {
    gap: 10px;
  }
  .Slider-description {
    font-size: 20px;
  }
}

.text-bolder {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */